# Functions I

## What is a function?

**Function** is a special code fragment written to perform specific task.

Functions only run, when you call them.

Functions may have parameters (arguments).

Functions may return a value back.

Calling a function with parameters:

**function_name(parameter_1, parameter_2, ...)**

Functions prevent code duplications.

In [2]:
# type()

type(42)

int

In [3]:
type('a sunny day')

str

In [4]:
type('AI')

str

In [6]:
# int() -> converts the given argument to int

int(5.68)

5

In [7]:
int('value')

ValueError: invalid literal for int() with base 10: 'value'

In [8]:
int("82")

82

In [10]:
# str() -> converts (casts) the given argument into string

str(45)

'45'

In [11]:
str(4.57)

'4.57'

In [12]:
str("Gotham")

'Gotham'

In [14]:
# float() -> casts the given argument into float

float(12)

12.0

In [15]:
float('4')

4.0

In [16]:
num = "-78"
float(num)

-78.0

In [17]:
num = "78-"
float(num)

ValueError: could not convert string to float: '78-'

# Math Functions (math)

We use **math** module to do mathematical operations.

**Module** is any Python file (.py) that includes executable Python code.

In [2]:
# import math module

import math

In [19]:
# see the module docs

print(math)

<module 'math' (built-in)>

In [3]:
# see detailed docs

# help() -> gives you detailed docs
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [4]:
# we can call any function from module -> . notation

math.pi

3.141592653589793

In [6]:
# Example:

# what is the perimeter (circumference) of a circle having radius of 10 cm?
# Perimeter = 2 * pi * r

# radius
r = 10

# perimeter
perimeter = 2 * math.pi * r

print(perimeter)

62.83185307179586

In [7]:
# Example:

# Calculate the sine of 30 degrees -> sin(30)

degree = 30

# calculate radian
radian = math.radians(degree)

print(radian)

0.5235987755982988

In [8]:
# false usage of function

sine = math.sin(degree)
sine

-0.9880316240928618

In [9]:
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [10]:
# correct usage of function

sine = math.sin(radian)
sine

0.49999999999999994

**Composition of Functions**

Chaining Functions.

In [12]:

degree = 30
sine = math.sin(math.radians(degree))
sine

0.49999999999999994

# Defining Functions

In [15]:
# Without Parameters

def function_name():
    # print line
    print("My first function")

In [14]:
# call the function

function_name()

My first function

**Indent:** Python uses indent for scoping.

    * indent: tab
    * indent: 4 spaces

In [16]:

# Student data
print("Name: John Doe")
print("Age: 24")
print("Language: Python")

Name: John Doe
Age: 24
Language: Python

In [17]:

# we need student data again

print("Name: John Doe")
print("Age: 24")
print("Language: Python")

Name: John Doe
Age: 24
Language: Python

In [18]:

# Define a function for student name

def student_name():
    print("Name: John Doe")

In [20]:
student_name()

Name: John Doe

In [19]:
# Define a function for student age

def student_age():
    print("Age: 24")

In [21]:
student_age()

Age: 24

In [22]:
# Define a function for student language

def student_language():
    print("Language: Python")

In [23]:
student_language()

Language: Python

In [24]:
# Print student data again

student_name()
student_age()
student_language()

Name: John Doe
Age: 24
Language: Python

In [25]:
# Print student data again

student_name()
student_age()
student_language()

Name: John Doe
Age: 24
Language: Python

In [26]:

# One function to call all three

def student_data():
    student_name()
    student_age()
    student_language()

In [27]:
student_data()

Name: John Doe
Age: 24
Language: Python

We want to print students name and lastname separately.

"Name: Peter"

"Lastname: Parker"

In [30]:

# create two separate functions

def student_firstname():
    print("Name: Peter")

def student_lastname():
    print("Lastname: Parker")

In [31]:

# print students name with these functions

def student_name():
    student_firstname()
    student_lastname()

In [32]:
student_name()

Name: Peter
Lastname: Parker

In [33]:
student_data()

Name: Peter
Lastname: Parker
Age: 24
Language: Python

**Execution Flow**
* Python Interpreter runs the code from the first line
* And moves down
* If it encounters a function call
  
      * First it goes into that function
      * Executes it
      * Waits it to finish
      * Returns back
* Moves down

# Parameters (Arguments)

**Parameters** are inputs you provide to the function.

You pass the parameters during function call.

In [35]:
# define a function which takes a parameter

def print_square(number):
    # get the square
    sqr = number ** 2

    # print sqr
    print(sqr)

In [36]:
# call it without a parameter

print_square()

TypeError: print_square() missing 1 required positional argument: 'number'

In [37]:
print_square(6)

36

In [38]:
print_square(8)

64

In [39]:
print_square(3)

9

In [40]:
# Example: 

# Define a function fn that takes 2 parameters
# Parameters: short, long
# Function will print the area of rectangle

def area_of_rectangle(short, long):
    # area -> assign to a variable 
    area = short * long

    # print the area
    print(area)

In [41]:

# call with two parameters

area_of_rectangle(4, 6)

24

In [42]:
s = 4
u = 6

area_of_rectangle(s, u)

24

In [60]:
# Example:

# Let's make student_data function as parametric

# first name
def student_firstname(first):
    print("Name: " + first)

# last name
def student_lastname(last):
    print("Lastname: " + last)

# Age
def student_age(age):
    print("Age: " + str(age))

# Language
def student_language(lang):
    print("Language: " + str(lang))

def student_data(firstname, lastname, age, language):
    student_firstname(firstname)
    student_lastname(lastname)
    student_age(age)
    student_language(language)

In [45]:
first = "Klark"
last = "Kent"
age = "28"
lang = "Python"

student_data(first, last, age, lang)

TypeError: student_firstname() takes 0 positional arguments but 1 was given

In [61]:
first = "Klark"
last = "Kent"
age = 28
lang = "Python"

student_data(first, last, age, lang)

Name: Klark
Lastname: Kent
Age: 28
Language: Python