# Functions I

## What is a function?

**Function** is a special code fragment written to perform specific task.

Functions only run, when you call them.

Functions may have parameters (arguments).

Functions may return a value back.

Calling a function with parameters:

**function_name(parameter_1, parameter_2, ...)**

Functions prevent code duplications.

In [2]:
# type()

type(42)

int

In [3]:
type('a sunny day')

str

In [4]:
type('AI')

str

In [6]:
# int() -> converts the given argument to int

int(5.68)

5

In [7]:
int('value')

ValueError: invalid literal for int() with base 10: 'value'

In [8]:
int("82")

82

In [10]:
# str() -> converts (casts) the given argument into string

str(45)

'45'

In [11]:
str(4.57)

'4.57'

In [12]:
str("Gotham")

'Gotham'

In [14]:
# float() -> casts the given argument into float

float(12)

12.0

In [15]:
float('4')

4.0

In [16]:
num = "-78"
float(num)

-78.0

In [17]:
num = "78-"
float(num)

ValueError: could not convert string to float: '78-'