# Variables

## What is a variable?

**Variable** is a name referring to a value.

It is the **name of the address** for that value in memory.

**Assignment** creates a variable and binds it to the given value.

`=`

In [1]:
a = 12

In [2]:
a

12

In [3]:
info = "Python name comes from Monthy Python and Holly Grail"

In [4]:
print(info)

Python name comes from Monthy Python and Holly Grail

In [5]:
pi = 3.1415

In [6]:
print(pi)

3.1415

In [7]:
n = 12

In [8]:
n

12

In [9]:
a = 1000

In [10]:
a

1000

In [11]:
a = 3000

In [12]:
a

3000

# Variable Names

In Python, Variable names:

* should be meaningful, self-explanatory
* generally we use snake_case
  
  average_car
  
  starting_index

Variable names CAN NOT:

* start with a number
    * 1number
    * 3_rd_position
 
* include space
    * average speed

* include special character
    * @, -, +, *, etc.
    * @number

* include keywords
    * and, for, true, return, if...

In [13]:
1number = 12345

SyntaxError: invalid decimal literal (3334007549.py, line 1)

In [14]:
average_speed = 80

In [15]:
average speed = 85

SyntaxError: invalid syntax (3979765169.py, line 1)

In [16]:
@tenth = 10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2714986626.py, line 1)

In [17]:
for = 4

SyntaxError: invalid syntax (2046953698.py, line 1)

In [18]:
*a = 45

SyntaxError: starred assignment target must be in a list or tuple (1810212927.py, line 1)

**Important:**

In Python, **CAPITAL-small** letters are different.

`Python is CASE SENSITIVE`

In [19]:
a = 10
A = 45

In [20]:
print(a)

10

In [21]:
print(A)

45

a is not equal to A in Python.

In [22]:
num = 5
Num = 12
print(num)

5

**Unicode Characters:**

Try not to use Unicode Characters in variable names.

Only use English Alphabet (ASCII).

In [23]:
Î©_omega = 80

In [24]:
omega = 80

In [25]:
print(omega)

80

## Python Data Types

In Python Data Types are:

* Text Type: **str**
* Numeric Types: **int, float, complex**
* Sequence Types: **list, tuple, range**
* Mapping Type: **dict**
* Set Types: **set, frozenset**
* Boolean Type: **bool**
* Binary Types: **bytes, bytearray, memoryview**

To get type of a variable type()

In [26]:
text = "This is a text"
type(text)

str

In [27]:
integer = 16
type(integer)

int

In [28]:
floating_point_number = 4.6
print(type(floating_point_number))

<class 'float'>

In [29]:
my_list = [1, 2, 3, 4, 5]

In [30]:
print(my_list)

[1, 2, 3, 4, 5]

In [31]:
type(my_list)

list

In [32]:
triple = ('A', 'B', 'C')

In [34]:
print(triple)
type(triple)

('A', 'B', 'C')

tuple

In [35]:
to_ten = range(10)
print(to_ten)

range(0, 10)

In [36]:
type(to_ten)

range

In [37]:
for i in to_ten:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
dictionary = {
    "name": "Arturs",
    "lastname": "Anikins",
    "language": "Python"
}

# <TAB>
print(dictionary)

{'name': 'Arturs', 'lastname': 'Anikins', 'language': 'Python'}

In [39]:
type(dictionary)

dict

In [40]:
set_of_numbers = set([1, 2, 2, 3, 1, 3, 4, 4])
print(set_of_numbers)

{1, 2, 3, 4}

In [41]:
set_of_numbers = set([9, 2, 2, 3, 1, 3, 4, 4])

In [42]:
print(set_of_numbers)

{1, 2, 3, 4, 9}

In [43]:
type(set_of_numbers)

set

In [44]:
correct = True

In [45]:
wrong = False

In [46]:
print(correct)

True

In [47]:
print(wrong)

False

In [48]:
type(correct)

bool

## Python Comments

**Compiler** translates your source code into machine language.

Compiler does this translation all at once, when you finish coding. (as a whole)

**Interpreter** translates your source code into machine language.

Interpreter does this translation while you are coding. (line by line)

In Python, we have Python interpreter.

**Comments** are lines, which are `ignored` by Python Interpreter.

Interpreter does not run Comments.

In [51]:
# One Line Comment

# This is one line comment

In [52]:
# keeps the miles traveled
miles_traveled = 90000

print(miles_traveled)

90000

In [54]:
# average speed = displacement / change in time

# first get the displacement
displacement = 450 # km

# then get the change in time
change_in_time = 6 # hr

# calculate the average speed
average_speed = displacement / change_in_time

# print the result
print(average_speed)

75.0

In [57]:
"""

Multi-Line Comment

In Python, Multi-Line comments,
are created via two (triple) double quotes

As in this case.

"""

'\n\nMulti-Line Comment\n\nIn Python, Multi-Line comments,\nare created via two (triple) double quotes\n\nAs in this case.\n\n'

In [58]:
multi_line_text = "Line 1 \nLine 2 \nLine 3"
print(multi_line_text)

Line 1
Line 2
Line 3

`\n` new line character.

In [59]:
print("Hello my dear \nPython")

Hello my dear
Python

In [60]:
"""
    This is line 1
        This is line 2
            This is line 3
"""

'\n    This is line 1\n        This is line 2\n            This is line 3\n'

In [61]:
print("""
    This is line 1
        This is line 2
            This is line 3
""")

    This is line 1
        This is line 2
            This is line 3

# Numeric Operations

In [63]:
# define two variables

a = 30
b = 7

In [66]:
print(a + b) # addition

37

In [67]:
print(a - b) # subtraction

23

In [68]:
print(a * b) # multiplication

210

In [69]:
print(a / b) # division

4.285714285714286

In [70]:
print(a // b) # floor division

4

In [71]:
print(a % b) # modulus

2

In [72]:
print(a**b) # power

21870000000

**Order of Operations:** Parenthesis, Exponents, Division, Multiplication, Addition, Subtraction

`PEDMAS`

In [74]:
print(4 * 5 - 9 + 14 / 7)

13.0

In [79]:
a = 9
a
# Increment a by 1
a = a + 1
a

10

In [80]:
a = a + 4

In [81]:
a

14

In [86]:
# Shorthand Increment -> +=
a
a += 1 # a = a + 1
a

18

In [87]:
# Shorthand Decrement -> -=

a -= 6 # a = a - 1
a

12

In [88]:
# Shorthand Multiply -> *=

a *= 5 # a = a * 5
a

60

In [89]:
# Shorthand Division -> /=

a /= 11 # a = a / 11
a

5.454545454545454